{% load static %}
<div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Работа с анкетами</h2>
        </div>
    </header>

    <section class="tables">
            <div class="container-fluid">
                <div class="row">

                        <div class="card">
                            <div class="card-close">
                                <div class="dropdown">
                                    <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false" class="dropdown-toggle"><i
                                            class="fa fa-ellipsis-v"></i></button>
                                    <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#"
                                                                                                         class="dropdown-item remove">
                                        <i class="fa fa-times"></i>Скрыть</a></div>
                                </div>
                            </div>
                            <div class="card-header d-flex align-items-center">
                                <h3 class="h4">Список{{stat_ankets}}анкет</h3>
                            </div>
                            <div class="card-body">

                                {% if anket_list %}
                                {% for item in anket_list %}
                                    <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-close">
                                            <div class="dropdown">
                                                <button type="button" id="closeCard" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false"
                                                        class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i>
                                                </button>
                                                <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a
                                                        href="#" class="dropdown-item remove"> <i
                                                        class="fa fa-times"></i>Скрыть</a></div>
                                            </div>
                                        </div>
                                        <div class="card-header d-flex align-items-center">

                                                {% if item.state == 0 %}
                                                <div class="badge badge-rounded bg-green">
                                                    Новая
                                                </div>&nbsp;&nbsp;&nbsp;
                                                {% else %}
                                                <div class="badge badge-rounded bg-red">
                                                    Оформленная
                                                </div>&nbsp;&nbsp;&nbsp;
                                                {% endif %}

                                            <h3 class="h4">{{ item.FIO }}</h3>
                                        </div>
                                        <div class="card-body">
                                            <h6>ID: {{ item.external_id }} / {{ item.date_filling }}</h6>

                                                <div class="form-group">
                                                    <label class="form-control-label">Дата рождения:</label>
                                                    <p>{{ item.DOB }}</p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label">Контактный телефон:</label>
                                                    <p>{{ item.tel }}</p>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-control-label">Адрес:</label>
                                                    <p>{{ item.addr }}</p>
                                                </div>
                                                <a class="btn btn-primary" href="../quest/{{ item.external_id }}">Оформить</a>

                                        </div>
                                    </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            


    </section>
    <!-- Page Footer-->
    <footer class="main-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <p>#ХотянЗнает! &copy; 2017-2022</p>
                </div>
                <div class="col-sm-6 text-right">
                    <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
