{% load static %}


<div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Панель управления клиникой</h2>
        </div>
    </header>
    <ul class="breadcrumb">
        <div class="container-fluid">
            <li class="breadcrumb-item"><a href="../">Главная</a></li>
            <li class="breadcrumb-item active">Расписание операций (Страница {{ current_page }} из
                {{b_rec.paginator.num_pages }})
            </li>
        </div>
    </ul>

    <!-- Paginator Section-->
    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <nav aria-label="Paginator">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not b_rec.has_previous %} disabled {% endif %}">
                        <a class="page-link" href="{{ prev_page_url }}">&laquo;</a></li>
                    {% for e_item in enum_rec %}
                    <li class="page-item
                            {% if e_item == current_page %} active {% endif %}
                            {% if e_item == '…' %} disabled {% endif %}">
                        <a class="page-link" href="?page={{ e_item }}">{{e_item}}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item {% if not b_rec.has_next %} disabled {% endif %}">
                        <a class="page-link" href="{{ next_page_url }}">&raquo;</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <!-- Forms Section-->
    <section class="tables">
        <div class="container-fluid">
            <div class="row">
            </div>
            <div class="col-lg-15">
                <div class="card ">
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">Расписание операций на {{ b_rec.0.0.0|date:"F" }}
                            {{b_rec.0.0.0|date:"Y" }} г. </h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <th>Дата</th>
                                <th>Ф.И.О.</th>
                                <th>Операции</th>
                                <th>Хирург</th>
                                <th>Примечания</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in b_rec.0 %}
                            {% if item.1 == '' %}
                            <tr {% if item.0|date:"l" == 'Суббота' or item.0|date:"l" == 'Воскресенье' %}
                            class="table-danger"
                            {% endif %}
                            >
                                <td>
                                    {% if item.0|date:"Y-m-d" >= today|date:"Y-m-d" %}
                                    <a href="../recording/?date={{ item.0|date:"Y-m-d"}}" class="text-primary" uk-icon="icon: plus-circle"></a>
                                    <a href="../recording/?date={{ item.0|date:"Y-m-d"}}" class="text-primary">{{ item.0|date:"d.m.Y" }}</a><br>
                                    {{ item.0|date:"l" }}
                                    {% else %}
                                    {{ item.0|date:"d.m.Y" }}<br>
                                    {{ item.0|date:"l" }}
                                    {% endif %}
                                </td>
                             <td>Операций нет</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td class="table-dark" rowspan="{{item.1.count}}">
                                    {% if item.0|date:"Y-m-d" >= today|date:"Y-m-d" %}
                                    <a href="../recording/?date={{ item.0|date:"Y-m-d"}}" class="text-primary" uk-icon="icon: plus-circle"></a>
                                    <a href="../recording/?date={{ item.0|date:"Y-m-d"}}" class="text-primary">{{ item.0|date:"d.m.Y" }}</a><br>
                                    {{ item.0|date:"l" }}
                                    {% else %}
                                    {{ item.0|date:"d.m.Y" }}<br>
                                    {{ item.0|date:"l" }}
                                    {% endif %}
                                </td>
                            {% for candidat in item.1 %}

                                <td>
                                    {% if item.0|date:"Y-m-d" >= today|date:"Y-m-d" %}
                                    <a href="../updrecord/{{candidat.pk}}" class="text-success" uk-icon="icon: pencil"></a>
                                    <a data-toggle="modal" data-target="#delModal{{candidat.pk}}" class="text-danger" uk-icon="icon: trash"></a>
                                    {% endif %}
                                    {{ candidat.Sname }} {{ candidat.Name }} {{ candidat.Mname }}<br>
                                    {{ candidat.phoneNumber }}
                                </td>
                                <td>
                                    <ul class="p-3">
                                    {% for oper in candidat.typeOpers.all %}
                                    <li >{{ oper }}</li>
                                    {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    {{ candidat.Surgeon }}
                                </td>
                                <td>
                                    {{ candidat.notes }}
                                </td>
                            </tr>
        <!-- Modal-->
        <div id="delModal{{candidat.pk}}" tabindex="-1" role="dialog" aria-labelledby="leModalLabel"
             aria-hidden="true"
             class="modal fade text-left">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="delModalLabel" class="modal-title text-danger"> Удаление кандидата на операцию # {{candidat.pk}}<br>
                            <em>{{ candidat.Sname }} {{ candidat.Name }} {{ candidat.Mname }}</em><br>
                            операция запланирована {{ item.0|date:"d.m.Y" }}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Удалённую запись восстановить невозможно.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal"
                                class="btn btn-secondary">Отмена
                        </button>
                        <a class="btn btn-danger" href="../delrecord/{{candidat.pk}}">Удалить</a>
                    </div>
                </div>
            </div>
        </div>
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                             </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
</section>
</div>
<!-- Javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src={% static "CRM/js/tether.min.js" %}></script>
<script src={% static "CRM/js/bootstrap.min.js" %}></script>
<script src={% static "CRM/js/jquery.cookie.js" %}> </script>
<script src={% static "CRM/js/jquery.validate.min.js" %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src={% static "CRM/js/charts-home.js" %}></script>
<script src={% static "CRM/js/front.js" %}></script>
</body>
</html>