{% load static %}
<div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Панель управления клиникой</h2>
        </div>
    </header>
    <ul class="breadcrumb">
            <div class="container-fluid">
              <li class="breadcrumb-item"><a href="../">Главная</a></li>
              <li class="breadcrumb-item"><a href="../timeline/">Расписание</a></li>
              <li class="breadcrumb-item active">Запись на операцию</li>
            </div>
    </ul>
    <section class="forms">
        <div class="container-fluid">
            <div class="row">
                <!-- Candidate Form-->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-close">
                            <div class="dropdown">
                                <button type="button" id="closeCard" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i>
                                </button>
                                <div aria-labelledby="closeCard" class="dropdown-menu has-shadow"><a href="#"
                                                                                                     class="dropdown-item remove">
                                    <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i
                                        class="fa fa-gear"></i>Edit</a></div>
                            </div>
                        </div>
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Запись на операцию</h3>
                        </div>
                        <div class="card-body">
                            <div class="badge-rounded bg-red" style="text-align: center;">
                                Внимательно проверьте данные перед записью кандидата!
                            </div>
                            <p></p>
                            <form id="CandidateForm" method="post" >
                                {%csrf_token%}
                                {{form.as_p}}
                                <p></p>
                                <div class="badge-rounded bg-red" style="text-align: center;">
                                Проверьте данные перед записью кандидата!
                                    <p></p>
                            </div>
                                <input class="btn btn-primary" type="submit" value="Сохранить">
                            </form>
                        </div>
                    </div>
                </div>
                <!-- End Form-->
            </div>
        </div>
    </section>
</div>
</div>
</div>
<!-- Javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src={% static "CRM/js/tether.min.js" %}></script>
<script src={% static "CRM/js/bootstrap.min.js" %}></script>
<script src={% static "CRM/js/jquery.cookie.js" %}> </script>
<script src={% static "CRM/js/jquery.validate.min.js" %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src={% static "CRM/js/charts-home.js" %}></script>
<script src={% static "CRM/js/front.js" %}></script>
<script>
var total = 0;
function summ(item) {
  if (item.checked) {
    //alert(item.max)
    total += parseInt(item.max);
    $('.block h3').text()
  } else {
     //alert("name= "+item.max)
    total -= parseInt(item.max);
  }
  //alert(total);
  document.getElementById('Totalcost').value = total;
}
</script>
</body>
</html>