{% load static %}
<div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">Оформление документов для медицинской карты</h2>
            </div>
          </header>
          <ul class="breadcrumb">
            <div class="container-fluid">
              <li class="breadcrumb-item"><a href="../quests/0">Анкеты</a></li>
              <li class="breadcrumb-item active">{{ FIO }}</li>
            </div>
          </ul>
          <!-- Forms Section-->
          <section class="tables">
            <form action="/quest/{{ ext_id }}" method="post">
             <div class="container-fluid">
              <div class="row">
                <!-- Anket Form-->
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Выбранная анкета {{ ext_id }}
                      {% if state == 1 %}
                          <br><div class="badge badge-rounded bg-red">документы уже оформлялись </div>
                      {% endif %}
                      </h3>
                      <input type="hidden" name="id_ext" value="{{ ext_id }}">
                    </div>
                    <div class="card-body">
                      <p>Данные отправленные пациентом. Возможно редактирование.</p>
                      {% csrf_token %}
                      {% if form %}
                         {% for item in form %}
                          <div class="form-group">
                          <label class="form-control-label">{{item.label}}</label>
                          <input type="text" name={{item.id_for_label}} id={{item.id_for_label}} class="form-control" value="{{item.value}}">
                          </div>
                          {% endfor %}
                      {% endif %}
                         <div class="form-group">
                          <label class="form-control-label">Состояние ПЖК</label>
                            <select name="PZK" class="form-control">
                              <option>нормотрофическая</option>
                              <option>гипертрофическая</option>
                            </select>

                         </div>
                    </div>
                  </div>
                </div>
                <!-- Calendar Form-->
                <div class="col-lg-6">
                  <div class="card">

                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Дата операции</h3>
                    </div>
                    <div class="card-body">
                      <p>Выберите запланированную дату операции.</p>
                      <div class="form-group">
                        <input id="oper_date" name="operation_date" type="date" class="form-control" value="{{ today }}">
                      </div>
                        </div>
                  </div>
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Виды операций</h3>
                    </div>
                    <div class="card-body">
                      <p>Выберите, запланированные для пациента, виды операции.</p>
                      <div class="col-lg-6">
                        {% if oper_types %}
                         {% for item in oper_types %}
                            <div>
                              <input id={{item.code}} name="oper_{{item.code}}" type="checkbox" value="{{item.s_name}}">
                              <label for={{item.code}}>{{item.name}}</label>
                            </div>
                        {% endfor %}
                        {% endif %}

                          <hr>
                          <p>Анестезия</p>
                          <div>
                              <input id="anest1" type="checkbox" value="option1" name="anest1">
                              <label for="anest1">Общая ингаляционная анестезия</label>
                          </div>
                          <div>
                              <input id="anest2" type="checkbox" value="option2" name="anest2">
                              <label for="anest2"> + ИВЛ</label>
                          </div>
                          <div>
                              <input id="anest3" type="checkbox" value="option3" name="anest3">
                              <label for="anest3">Местная анестезия</label>
                          </div>
                          <div>
                              <input id="anest4" type="checkbox" value="option4" name="anest4">
                              <label for="anest4"> + мониторинг</label>
                          </div>
                           <hr>
                          <p>Схема к протоколу операции</p>
                          <div>
                              <input id="scheme1" type="checkbox" value="option1" name="scheme1">
                              <label for="scheme1">Голова</label>
                          </div>
                          <div>
                              <input id="scheme2" type="checkbox" value="option2" name="scheme2">
                              <label for="scheme2">Тело</label>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
                  <!-- Button Form-->
                  <div class="col-lg-6">
                      <div class="card">
                          <div class="card-body">
                              <div class="col-sm-9">
                                  <div class="form-group">

                                      <button type="button" data-toggle="modal" data-target="#myModal"
                                              class="btn btn-primary">Продолжить
                                      </button>

                                      <!-- Modal-->
                                      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                           aria-hidden="true"
                                           class="modal fade text-left">
                                          <div role="document" class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h4 id="exampleModalLabel" class="modal-title">Подготовка
                                                          документов для медицинской карты пациента <em>{{form.FIO.value}}</em>
                                                      </h4>
                                                      <button type="button" data-dismiss="modal" aria-label="Close"
                                                              class="close"><span
                                                              aria-hidden="true">×</span></button>
                                                  </div>
                                                  <div class="modal-body">
                                                      <p>После оформления документы будут загружены в облачное
                                                          хранилище.</p>
                                                      <p>Дождитесь окончания процесса и возврата к списку анкет.</p>
                                                  </div>
                                                  <div class="modal-footer">
                                                      <button type="button" data-dismiss="modal"
                                                              class="btn btn-secondary">Отмена
                                                      </button>
                                                      <input type="submit" class="btn btn-primary"
                                                             value="Оформить документы">
                                                  </div>
                                              </div>
                                          </div>
                                      </div>


                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
             </div>
            </form>
          </section>
</div>
