{%load static%}
<div class="page login-page">
    <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
            <div class="row">
                <!-- Logo & Information Panel-->
                <div class="col-lg-6">
                    <div class="info d-flex align-items-center">
                        <div class="content">
                            <div class="logo">
                                <h1>HZClinic</h1>
                            </div>
                            <p>CRM</p>
                        </div>
                    </div>
                </div>
                <!-- Form Panel    -->
                <div class="col-lg-6 bg-white">
                    <div class="form d-flex align-items-center">
                        <div class="content">
                            <div class="input-material">Введите логин и пароль</div>
                            <form id="LoginForm" method="post">
                                {%csrf_token%}
                                <!--                    <div class="form-group">-->
                                {{form}}
                                <!--                      <input id="login-username" type="text" name="loginUsername" required="" class="input-material">-->
                                <!--                      <label for="id_user_login" class="label-material">Логин</label>-->
                                <!--                    </div>-->
                                <!--                    <div class="form-group">-->
                                <!--                      <input id="login-password" type="password" name="loginPassword" required="" class="input-material">-->
                                <!--                      <label for="id_user_password" class="label-material">Пароль</label>-->
                                <!--                    </div><a id="login" href="CRM/main" class="btn btn-primary">Login</a>-->
                                <p></p>
                                <input class="btn btn-primary" type="submit" value="Вход">
                                <!--                    &lt;!&ndash; This should be submit button but I replaced it with <a> for demo purposes&ndash;&gt;-->
                            </form>
                            <!--                  <a href="#" class="forgot-pass">Забыли пароль?</a><br>-->
                            <!--                  <small>Ещё нет аккаунта? </small><a href="register.html" class="signup">Зарегистрируйтесь!</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyrights text-center">
    <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
</div>
