{% load static %}
<!-- Sidebar Navidation Menus-->
<span class="heading">Разделы</span>
<ul class="list-unstyled">
    <li ><a href="../"><i class="icon-home"></i>На главную</a></li>
    <li><a href="../recording/"><i class="icon-user"></i>Запись на операцию</a></li>
    <li><a href="../candidates/"><i class="icon-list-1"></i>Кандидаты</a></li>
    <li><a href="../timetable/"><i class="icon-clock"></i>Расписание</a></li>
    <li><a href="#dashvariants" aria-expanded="true" data-toggle="collapse"> <i class="icon-interface-windows"></i>Анкеты
    </a>
        <ul id="dashvariants" class="collapse list-unstyled">
            <li class="active"><a href="../quests/0">Новые</a></li>
            <li><a href="../quests/1">Оформленные</a></li>
            <li><a href="../quests/">Только лишь все</a></li>
        </ul>
    </li>
    <!--<li><a href="../quests"> <i class="icon-user"></i>Пациенты</a></li>
    <li><a href="tables.html"> <i class="icon-grid"></i>Tables </a></li>
    <li><a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
    <li><a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>-->
</ul><!--<span class="heading">Extras</span>
<ul class="list-unstyled">
    <li><a href="#"> <i class="icon-clock"></i>Demo </a></li>
    <li><a href="#"> <i class="icon-screen"></i>Demo </a></li>
    <li><a href="#"> <i class="icon-mail"></i>Demo </a></li>
    <li><a href="#"> <i class="icon-picture"></i>Demo </a></li>
    <li><a href="#"> <i class="icon-list"></i>Demo </a></li>
</ul>-->