{% load static %}
<div class="content-inner">
    <!-- Page Header-->
    <header class="page-header">
        <div class="container-fluid">
            <h2 class="no-margin-bottom">Панель управления расписанием</h2>
        </div>
    </header>
    <ul class="breadcrumb">
        <div class="container-fluid">
            <li class="breadcrumb-item"><a href="../">Главная</a></li>
            <li class="breadcrumb-item active">Расписание операций</li>
        </div>
    </ul>
    <!-- Paginator Section-->
    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="row bg-white has-shadow">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        {% if prev_page_url %}<a class="btn btn-secondary"
                                                 href="{{ prev_page_url }}">⟵</a>{% endif %}
                        <a class="btn btn-secondary disabled" role="button" aria-disabled="true"
                           href="">Страница {{ current_page }} из {{ b_rec.paginator.num_pages }}</a>
                        {% if next_page_url %}<a class="btn btn-secondary"
                                                 href="{{ next_page_url }}">⟶</a>{% endif %}
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="tables">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Расписание операций с {{ b_rec.0.0|date:"d.m.Y" }} г. по {{ b_rec.6.0|date:"d.m.Y" }} г.
                                (неделя : {{ num_week }})</h3>
                        </div>
                        <div class="card-body">
                        <div class="container">
<!-- Start Timeline -->
<ul class="timeline">

  <!-- Item 0 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Понедельник</span>
        <span class="time-wrapper"><span class="time">{{ b_rec.0.0|date:"d.m.Y" }}</span></span>
      </div>
        <div class="desc">
            {% if b_rec.0.1 %}
            {% for candidat in b_rec.0.1 %}
            <h3 class="title">{{ candidat.Sname }} {{ candidat.Name }} {{ candidat.Mname }}</h3>
            <p class="description">
            Телефон: {{ candidat.phoneNumber }}<br>
                <h5><i>/ {% for oper in candidat.typeOpers.all %}
                {{ oper }} / {% endfor %}</i></h5>
            {{ candidat.notes }}
            <hr>
            {% endfor %}
            </p>
            {% else %}
            <p class="description">Записей на операции нет</p>
            <hr>
            {% endif %}
        </div>
    </div>
  </li>

 <!-- Item 1 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Вторник</span>
        <span class="time-wrapper"><span class="time">{{ b_rec.1.0|date:"d.m.Y" }}</span></span>
      </div>
        <div class="desc">
            {% if b_rec.1.1 %}
            {% for candidat in b_rec.1.1 %}
            <h3 class="title">{{ candidat.Sname }} {{ candidat.Name }} {{ candidat.Mname }}</h3>
            <p class="description">
            Телефон: {{ candidat.phoneNumber }}<br>
                <h5><i>/ {% for oper in candidat.typeOpers.all %}
                {{ oper }} / {% endfor %}</i></h5>
            {{ candidat.notes }}
            <hr>
            {% endfor %}
            </p>
            {% else %}
            <p class="description">Записей на операции нет</p>
            <hr>
            {% endif %}
        </div>
    </div>
  </li>

  <!-- Item 2 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Среда</span>
        <span class="time-wrapper"><span class="time">{{ b_rec.2.0|date:"d.m.Y" }} </span></span>
      </div>  <a href="" uk-icon="icon: plus-circle"></a>
        <div class="desc">
            {% if b_rec.2.1 %}
            {% for candidat in b_rec.2.1 %}
            <h4>{{ candidat.Sname }} {{ candidat.Name }} {{ candidat.Mname }}<a href="{{candidat.pk}}" uk-icon="icon: pencil"></a>
                <a href="{{candidat.pk}}" uk-icon="icon: trash"></a></h4>
            <p class="description">
            Телефон: {{ candidat.phoneNumber }}<br>
                <h5><i>/ {% for oper in candidat.typeOpers.all %}
                {{ oper }} / {% endfor %}</i></h5>
            {{ candidat.notes }}
            <hr>
            {% endfor %}
            </p>
            {% else %}
            <p class="description">Записей на операции нет</p>
            <hr>
            {% endif %}
        </div>
    </div>
  </li>

  <!-- Item 3 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Четверг</span>
        <span class="time-wrapper"><span class="time">{{ b_rec.3.0|date:"d.m.Y" }}</span></span>
      </div>
        <div class="desc">
            {% if b_rec.3.1 %}
            {% for candidat in b_rec.3.1 %}
            <h3 class="title">{{ candidat.Sname }} {{ candidat.Name }} {{ candidat.Mname }}</h3>
            <p class="description">
            Телефон: {{ candidat.phoneNumber }}<br>
                <h5><i>/ {% for oper in candidat.typeOpers.all %}
                {{ oper }} / {% endfor %}</i></h5>
            {{ candidat.notes }}
            <hr>
            {% endfor %}
            </p>
            {% else %}
            <p class="description">Записей на операции нет</p>
            <hr>
            {% endif %}
        </div>
    </div>
  </li>

  <!-- Item 4 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Пятница</span>
        <span class="time-wrapper"><span class="time">{{ b_rec.4.0|date:"d.m.Y" }}</span></span>
      </div>
        <div class="desc">
            {% if b_rec.4.1 %}
            {% for candidat in b_rec.4.1 %}
            <h3 class="title">{{ candidat.Sname }} {{ candidat.Name }} {{ candidat.Mname }}</h3>
            <p class="description">
            Телефон: {{ candidat.phoneNumber }}<br>
                <h5><i>/ {% for oper in candidat.typeOpers.all %}
                {{ oper }} / {% endfor %}</i></h5>
            {{ candidat.notes }}
            <hr>
            {% endfor %}
            </p>
            {% else %}
            <p class="description">Записей на операции нет</p>
            <hr>
            {% endif %}
        </div>
    </div>
  </li>
  <!-- Item 5 -->
  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Суббота</span>
        <span class="time-wrapper"><span class="time">{{ b_rec.5.0|date:"d.m.Y" }}</span></span>
      </div>
        <div class="desc">
            {% if b_rec.5.1 %}
            {% for candidat in b_rec.5.1 %}
            <h3 class="title">{{ candidat.Sname }} {{ candidat.Name }} {{ candidat.Mname }}</h3>
            <p class="description">
            Телефон: {{ candidat.phoneNumber }}<br>
                <h5><i>/ {% for oper in candidat.typeOpers.all %}
                {{ oper }} / {% endfor %}</i></h5>
            {{ candidat.notes }}
            <hr>
            {% endfor %}
            </p>
            {% else %}
            <p class="description">Записей на операции нет</p>
            <hr>
            {% endif %}
        </div>
    </div>
  </li>

  <!-- Item 6 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="flag">Воскресенье</span>
        <span class="time-wrapper"><span class="time">{{ b_rec.6.0|date:"d.m.Y" }}</span></span>
      </div>
        <div class="desc">
            {% if b_rec.6.1 %}
            {% for candidat in b_rec.6.1 %}
            <h3 class="title">{{ candidat.Sname }} {{ candidat.Name }} {{ candidat.Mname }}</h3>
            <p class="description">
            Телефон: {{ candidat.phoneNumber }}<br>
                <h5><i>/ {% for oper in candidat.typeOpers.all %}
                {{ oper }} / {% endfor %}</i></h5>
            {{ candidat.notes }}
            <hr>
            {% endfor %}
            </p>
            {% else %}
            <p class="description">Записей на операции нет</p>
            <hr>
            {% endif %}
        </div>
    </div>
  </li>
<!-- End Timeline -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
</div>
<!-- Javascript files-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src={% static "CRM/js/tether.min.js" %}></script>
<script src={% static "CRM/js/bootstrap.min.js" %}></script>
<script src={% static "CRM/js/jquery.cookie.js" %}> </script>
<script src={% static "CRM/js/jquery.validate.min.js" %}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src={% static "CRM/js/charts-home.js" %}></script>
<script src={% static "CRM/js/front.js" %}></script>
</body>
</html>