<!DOCTYPE html>
<html lang="ru">
<head>
<style>
@font-face { font-family: Raleway; src: url(/static/crm/fonts/Raleway.ttf); }
</style>
    <link rel="stylesheet" href=/static/crm/css/style.timeline1.css>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Экспорт в PDF</title>

</head>
<body>

<h1>Расписание операций с  г. по  г.</h1>
<table class="table">
    <thead>
    <tr>
        <th>Дата операции</th>
        <th>Ф.И.О. пациента</th>
        <th>Запланированные операции</th>
        <th>Оперирующий хирург</th>
        <th>Примечания</th>
    </tr>
    </thead>
    <tbody>
    
    <tr>
        <td>01.12.2023<br>Пятница</td>
        <td>Воржева Татьяна Александровна<br>79180071708</td>
        <td>
            <ul class="p-3">
                
                <li>Абдоминопластика</li>
                
                <li>Липосакция тела</li>
                
            </ul>
        </td>
        <td>Мамедов Г.Т.</td>
        <td><p>осиная талия 2 / КОРЛ</p></td>
    </tr>
    
    <tr>
        <td>01.12.2023<br>Пятница</td>
        <td>Мамонтова Регина Рамиловна<br>79178887818</td>
        <td>
            <ul class="p-3">
                
                <li>Липофилинг лица</li>
                
                <li>Липофилинг груди</li>
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>липофилинг / СЛ</p></td>
    </tr>
    
    <tr>
        <td>04.12.2023<br>Понедельник</td>
        <td>Михайлова Ангелина  Вадимовна<br>79061106648</td>
        <td>
            <ul class="p-3">
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>total face  / КОРЛ </p></td>
    </tr>
    
    <tr>
        <td>04.12.2023<br>Понедельник</td>
        <td>Арчакова Елизавета  Матвеевна<br>79377770349</td>
        <td>
            <ul class="p-3">
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>холка / СЛ </p></td>
    </tr>
    
    <tr>
        <td>05.12.2023<br>Вторник</td>
        <td>Коробов Вячеслав Александрович<br>79038460629</td>
        <td>
            <ul class="p-3">
                
                <li>Абдоминопластика</li>
                
                <li>Грыжа пупочная</li>
                
                <li>Липосакция тела</li>
                
            </ul>
        </td>
        <td>Мамедов Г.Т.</td>
        <td><p>липосакция, абдоминопластика / КОРЛ</p></td>
    </tr>
    
    <tr>
        <td>06.12.2023<br>Среда</td>
        <td>Сафина Алсу  Наильевна<br>79047622037</td>
        <td>
            <ul class="p-3">
                
            </ul>
        </td>
        <td>Мухамедов Г.Т.</td>
        <td><p>осиная талия 1 / КОРЛ </p></td>
    </tr>
    
    <tr>
        <td>06.12.2023<br>Среда</td>
        <td>Фаткуллина Лилия  Маратовна<br>79874081055</td>
        <td>
            <ul class="p-3">
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>блефаропластика / СЛ </p></td>
    </tr>
    
    <tr>
        <td>07.12.2023<br>Четверг</td>
        <td>Дульянинова Алла  Александровна<br>79272026026</td>
        <td>
            <ul class="p-3">
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>Круговая блефаропластика / КОРЛ </p></td>
    </tr>
    
    <tr>
        <td>08.12.2023<br>Пятница</td>
        <td>Смирнова Людмила  Анатольевна<br>79124387372</td>
        <td>
            <ul class="p-3">
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>Total face / КОРЛ </p></td>
    </tr>
    
    <tr>
        <td>08.12.2023<br>Пятница</td>
        <td>Жуламанова Алия Булатовна<br>79058878514</td>
        <td>
            <ul class="p-3">
                
                <li>Липосакция ног</li>
                
            </ul>
        </td>
        <td>Мамедов Г.Т.</td>
        <td><p>липосакция галифе <br>Гитин / <br>СЛ</p></td>
    </tr>
    
    <tr>
        <td>11.12.2023<br>Понедельник</td>
        <td>Екимова Регина  Рифкатовна<br>79877040007</td>
        <td>
            <ul class="p-3">
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>бесшовный смас / КОРЛ </p></td>
    </tr>
    
    <tr>
        <td>11.12.2023<br>Понедельник</td>
        <td>Воронова Анна Олеговна<br>79179184477</td>
        <td>
            <ul class="p-3">
                
                <li>Липосакция ног</li>
                
                <li>Липофилинг ягодиц</li>
                
            </ul>
        </td>
        <td>Мамедов Г.Т.</td>
        <td><p>липосакция галифе / КОРЛ</p></td>
    </tr>
    
    <tr>
        <td>11.12.2023<br>Понедельник</td>
        <td>Шарипова Оксана  Витальевна<br>79047634631</td>
        <td>
            <ul class="p-3">
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>Круговая блефаропластика / КОРЛ </p></td>
    </tr>
    
    <tr>
        <td>12.12.2023<br>Вторник</td>
        <td>Иванова Марина Константиновна<br>79127546220</td>
        <td>
            <ul class="p-3">
                
                <li>Липосакция тела</li>
                
                <li>Добавочные дольки</li>
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>липосакция и коррекция рубца + - =</p></td>
    </tr>
    
    <tr>
        <td>13.12.2023<br>Среда</td>
        <td>Гимадиева Альфия  Анваровна<br>79600873226</td>
        <td>
            <ul class="p-3">
                
            </ul>
        </td>
        <td>Хотян А.Р.</td>
        <td><p>блефаропластика / СЛ </p></td>
    </tr>
    
    </tbody>
</table>
</body>
</html>